<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mem.wit.study.myBatis.LecDayMapper">
	<resultMap id="LecDayMap" type="mem.wit.study.lecture.LecDay">
	</resultMap>
  
  <select id="select" resultMap="mem.wit.study.myBatis.LecDayMapper.LecDayMap">
    SELECT LD.DID,LD.LSID,LD.DCODE,D.DNAME,LD.LTCODE,
	TO_CHAR(T.LTFROMTIME,'HH24:MI')LTFROMTIME,TO_CHAR(T.LTTOTIME,'HH24:MI')LTTOTIME FROM LECDAY LD
	  INNER JOIN CDDAY D ON LD.DCODE=D.DCODE
	  INNER JOIN CDLECTIME T ON LD.LTCODE=T.LTCODE
	WHERE lsId = #{lsId}
	ORDER BY LD.DID
  </select>
  <select id="selectAll" resultMap="mem.wit.study.myBatis.LecDayMapper.LecDayMap">
    SELECT LD.DID,LD.LSID,LD.DCODE,D.DNAME,LD.LTCODE,
	TO_CHAR(T.LTFROMTIME,'HH24:MI')LTFROMTIME,TO_CHAR(T.LTTOTIME,'HH24:MI')LTTOTIME FROM LECDAY LD
	  INNER JOIN CDDAY D ON LD.DCODE=D.DCODE
	  INNER JOIN CDLECTIME T ON LD.LTCODE=T.LTCODE
	ORDER BY LD.DID
  </select>
  <insert id="insert" parameterType="mem.wit.study.lecture.LecDay" useGeneratedKeys="true" >
  	<selectKey keyProperty="dId" resultType="int" order="BEFORE">
  		<!-- SELECT NEXTVAL('LECDAY_SEQ') -->
  		SELECT LECDAY_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
  	
  	INSERT INTO lecDay VALUES(#{dId}, #{lsId}, #{dCode}, #{ltCode})
  </insert>
</mapper>