<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="properties/jdbc/jdbc.properties"/>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="mem/wit/study/myBatis/examGradeMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/dayMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecCateMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecDayMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecRoomMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecScheduleMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecStatusMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecTimeMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/lectureMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/sbjCateMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/subjectMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/suppLecMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/teacherMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/textbookMapper.xml"/>
  </mappers>
</configuration>