<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:pwit@//192.168.18.235:1521/xe"/>
        <property name="username" value="pwit"/>
        <property name="password" value="asdf"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="mem/wit/study/myBatis/examGradeMapper.xml"/>
  	<mapper resource="mem/wit/study/myBatis/lecCateMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/lectureMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/subjectMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/suppLecMapper.xml"/>
    <mapper resource="mem/wit/study/myBatis/textbookMapper.xml"/>
  </mappers>
</configuration>