<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mem.wit.study.myBatis.TextbookMapper">
	<resultMap id="TextbookMap" type="mem.wit.study.codes.Textbook">
		<!-- <result property="tbCode" column="tbCode" />
		<result property="pCode" column="pCode" />
		<result property="sbjCode" column="sbjCode" />
		<result property="cCode" column="cCode" />
		<result property="tbName" column="tbName" />
		<result property="tbPrice" column="tbPrice" /> -->
	</resultMap>
  
  <select id="select" resultType="mem.wit.study.codes.Textbook">
    SELECT T.TBCODE,T.PCODE,P.PNAME,T.SBJCODE,S.SBJNAME,T.CCODE,C.CNAME,T.TBNAME,T.TBPRICE FROM cdTextbook T 
	  INNER JOIN cdPublish P ON T.PCODE=P.PCODE 
	  INNER JOIN cdSubject S ON T.SBJCODE=S.SBJCODE
	  INNER JOIN cdCurriculum C ON T.CCODE=C.CCODE
	WHERE tbCode = #{tbCode}
	ORDER BY T.TBCODE
  </select>
  <select id="selectAll" resultMap="mem.wit.study.myBatis.TextbookMapper.TextbookMap">
    SELECT T.TBCODE,T.PCODE,P.PNAME,T.SBJCODE,S.SBJNAME,T.CCODE,C.CNAME,T.TBNAME,T.TBPRICE FROM cdTextbook T 
  INNER JOIN cdPublish P ON T.PCODE=P.PCODE 
  INNER JOIN cdSubject S ON T.SBJCODE=S.SBJCODE
  INNER JOIN cdCurriculum C ON T.CCODE=C.CCODE
ORDER BY T.TBCODE
  </select>
</mapper>