.clear{
height:40px;
clear:both;
width:100%;
margin:0;
margin-left:20px;
}

.pickit{
font-family:verdana, arial, sans-serif;
font-size:15px;
font-weight:normal;
color:#D8BC91;
margin:1px 8px 0 0;
clear:none;
position:relative;
float:left;
}



/* --- Navbar Style --- */

#nav {
	width: 490px;
	height: 48px;
	float: left;
	background: transparent;
	margin: 24px 0 0 0;
	z-index: 1;
}

/* -- Brown Menu -- */
.menu {
	font-family: "Trebuchet MS", Arial, san-serif;
	width:492px;
	height:42px;
	position:relative;
	font-size:11px;
	margin: 0;
	z-index:1000;
}
.menu ul li a {
	display:block;
	text-decoration:none;
	color:#EBE0D5;
	font-weight:bold;
	width:81px; 
	height:42px; 
	text-align:center;
	border-bottom: 0;
	background-image:url('images/brown/center.png');
	line-height:48px; 
	font-size:11px; 
	overflow:hidden;
	padding-left: 1px;
}
/* End Caps Styling */
.menu .left_nosub {
	background-image:url('images/brown/left.png');
	padding-left: 1px;
	margin-right: -1px;
}
.menu .right_hassub {
	background-image:url('images/brown/right.png');
}
.menu .right_nosub {
	background-image:url('images/brown/right.png');
}
.menu ul {padding:0; margin:0; list-style: none;}
.menu ul li {float:left; position:relative;}
.menu ul li ul {display: none;}

/* Button ":hover" Styling */
.menu ul li:hover a {color:#381B01; background:url('images/brown/center_hassub.png');}
.menu ul li:hover ul {display:block; position:absolute; top:42px; left:0; width:152px; margin: 0; padding: 0;}
.menu ul li:hover ul li a.center_hassub {background:#6a3; color:#EBE0D5;}
.menu ul li:hover ul li:hover a.center_hassub {background:#6fc; color:#381B01;}
.menu ul li:hover ul li ul {display: none;}

.menu ul li:hover .left_nosub {color:#381B01; background:url('images/brown/left_nosub.png');}
.menu ul li:hover .right_hassub {color:#381B01; background:url('images/brown/right_hassub.png') ;}
.menu ul li:hover .right_nosub {color:#381B01; background:url('images/brown/right_nosub.png') ;}

/* DropDown Styling */
.menu ul li:hover ul li a {background-image: none; display:block;height: 28px; line-height: 26px; color:#381B01; width:142px; text-align:left; margin: 0; padding:0 0 0 11px;font-weight:normal;}
.menu ul li:hover ul {
	margin: 0 0 0 3px;
	padding: 0;
	background-image:url('images/brown/dropdown.png');
	background-repeat:no-repeat;
	background-position:bottom left; 
}

/* DropDown Menus ":active" or "Selected" Styling */
.menu ul li:hover ul .sub_active {
	background-image:url('images/brown/sub_active.png');
	margin-right: 1px;
}

/* DropDown Menus ":hover" Styling */
.menu ul li:hover ul li a:hover {color:#381B01 !important; background-image:url('images/brown/sub_hover.png');}

.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
.menu ul li:hover ul li:hover ul.left {left:-105px;}

.wrap{
position:relative;
top:20px;
left:20px;
float:left;
width:500px;
height:210px;
background:#3A1C01 url('images/presentation/caramel-cream.png') no-repeat center 120px;
border:3px solid #f0f0f0;
padding:0;
padding-left:10px;
}

/* -- End Brown Menu -- */