@CHARSET "UTF-8";

/* 여기부터 섹션 */
.ibm-home-page #ibm-leadspace-head {
background: #EFEFEF;
border-bottom: 1px solid #C0C0AE;
}
.ibm-landing-page #ibm-leadspace-head, .ibm-portal-page #ibm-leadspace-head, .ibm-home-page #ibm-leadspace-head, #ibm-content #ibm-leadspace-head, .ibm-common-overlay #ibm-leadspace-head {
display: block;
}
.ibm-home-page #ibm-leadspace-head #ibm-leadspace-body {
width: 100%;
min-height: 400px;
padding-bottom: 0px;
}
.ibm-container-body {
clear: both;
}
.ibm-home-page #ibm-leadspace-head a.ibm-ribbon-next, .ibm-home-page #ibm-leadspace-head a.ibm-ribbon-prev {
display: none;
}
a.ibm-disabled {
visibility: hidden;
}
.ibm-home-page #ibm-leadspace-head a.ibm-ribbon-next, .ibm-home-page #ibm-leadspace-head a.ibm-ribbon-prev {
display: none;
}
a.ibm-ribbon-prev {
background-position: 0px -100px;
left: -20px;
}
a.ibm-ribbon-next {
background-position: 100% 0;
right: -20px;
}
a.ibm-ribbon-next, a.ibm-ribbon-prev {
background: url(/teamP/cooperation/i/v17/icons/scroll_nav_sprite.gif) no-repeat;
display: block;
width: 16px;
height: 24px;
position: absolute;
cursor: pointer;
}
.ibm-ribbon-nav a, a.ibm-ribbon-next, a.ibm-ribbon-prev {
font-size: 0px;
text-indent: -100%;
_text-indent: -9999px;
overflow: hidden;
margin-top: 10px;
_overflow: visible;
color: transparent;
}
div#ibm-top.ibm-home-page div#ibm-leadspace-head.ibm-container div#ibm-leadspace-body.ibm-container-body div.ibm-ribbon-pane {
width: 100%;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane {
position: relative;
height: 400px;
overflow: hidden;
clear: both;
_width: 940px;
margin: 0 auto;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section {
position: absolute;
width: 20000em;
margin: 0px -10px;
}
.ibm-home-page #ibm-leadspace-body #ibm-lead-1 {
height: 400px;
width: 100%;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns {
clear: none;
height: 400px;
overflow: hidden;
width: 100%;
margin: 0px;
float: left;
padding: 0px;
}
img[Attributes Style] {
height: 297px;
width: 518px;
}
.ibm-home-page #ibm-lead-1 {
_background: url(/teamP/cooperation/images/portal/L688321C03041Q58/7302014_ibmcloud_bg.png) repeat-x 50% 0px;
background: url(/teamP/cooperation/images/portal/WIT_IMG/contsam01.png) no-repeat 0px 0px;
}
.ibm-home-page #ibm-lead-2 {
_background: url(/teamP/cooperation/images/portal/N239470X33431S89/07152014_apple_announcement_bg.png) repeat-x 50% 0px;
background: url(/teamP/cooperation/images/portal/WIT_IMG/contsam02.png) no-repeat 0px 0px;
}
.ibm-home-page #ibm-lead-3 {
_background: url(/teamP/cooperation/images/portal/O565237U45802D50/07282014_innovation_cloud_chris_dotson_bg.jpg) repeat-x 50% 0px;
background: url(/teamP/cooperation/images/portal/WIT_IMG/contsam03.png) no-repeat 0px 0px;
}
.ibm-home-page #ibm-lead-4 {
_background: url(/teamP/cooperation/images/portal/O565237U45802D50/07282014_innovation_cloud_chris_dotson_bg.jpg) repeat-x 50% 0px;
background: url(/teamP/cooperation/images/portal/WIT_IMG/contsam04.png) no-repeat 0px 0px;
}
/* #ibm-lead-2, #ibm-lead-3, #ibm-leadspace-head.ibm-ribbon div.ibm-columns div.ibm-ribbon-view {
display: none;
} */
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns .ibm-col-1-1 {
width: 998px;
padding: 0px;
margin: 0px auto;
float: none;
}
.ibm-container h2 {
padding: 5px 0;
height: auto;
_height: 1%;
}
.ibm-home-page #ibm-leadspace-head h1, .ibm-home-page #ibm-leadspace-head h2, .ibm-home-page #ibm-leadspace-head h3 {
position: relative;
}
.ibm-home-page #ibm-leadspace-head img, .ibm-home-page #ibm-leadspace-head h1, .ibm-home-page #ibm-leadspace-head h2, .ibm-home-page #ibm-leadspace-head h3 {
padding: 0px;
margin: 0px;
}
h1 {
font-size: 2.6em;
clear: both;
line-height: 1em;
text-shadow: 0px 1px 0 #FFF;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane h1 img, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-pane h2 img {
padding-top: 50px;
}
.ibm-home-page #ibm-leadspace-head img, .ibm-home-page #ibm-leadspace-head h1, .ibm-home-page #ibm-leadspace-head h2, .ibm-home-page #ibm-leadspace-head h3 {
padding: 0px;
margin: 0px;
}
.ibm-mobile {
display: none !important;
}
#ibm-leadspace-head p {
width: 312px;
_width: 185px !important;
}
.ibm-columns:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
overflow: hidden;
}

.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav {
height: 45px;
margin: -55px auto 0;
width: 980px;
text-align: right;
z-index: 899;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a:hover, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a.ibm-active {
box-shadow: 0 1px 6px rgba(0,0,0,.85);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.85);
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.85);
border: 3px solid rgba(255, 255, 255, .9);
border: 3px solid #FFF\9;
top: -5px;
}
.ibm-ribbon-nav a.ibm-active {
background-position: 0px -216px;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a {
box-shadow: 0 1px 6px rgba(0, 0, 0, .70);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
border: 3px solid rgba(255, 255, 255, .6);
border: 3px solid #EEE\9;
display: inline-block;
font-size: 0px;
height: 30px;
margin: 3px 5px;
outline: 0 none;
padding: 0;
position: relative;
text-decoration: none;
width: 45px;
z-index: 899;
cursor: pointer;
overflow: visible;
text-indent: 0px;
}
/* next, prev 는 용도가 짐작은 가지만 확실치 않음 */
/* .ibm-ribbon-nav a, a.ibm-ribbon-next, a.ibm-ribbon-prev {
font-size: 0px;
text-indent: -100%;
_text-indent: -9999px;
overflow: hidden;
margin-top: 10px;
_overflow: visible;
color: transparent;
} */
.ibm-ribbon-nav a {
background: url(/teamP/cooperation/i/v17/icons/scroll_nav_sprite.gif) 0 -200px no-repeat;
display: inline-block;
width: 8px;
height: 8px;
margin: 3px;
_margin-top: 0px;
text-decoration: none;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-ribbon-view {
height: 30px;
width: 45px;
}
.ibm-home-page #ibm-leadspace-head .ibm-lead-thumb-1 {
background: url(/teamP/cooperation/images/portal/WIT_IMG/thumbnail01.jpg) no-repeat 0px 0px;
}
.ibm-home-page #ibm-leadspace-head .ibm-lead-thumb-2 {
background: url(/teamP/cooperation/images/portal/WIT_IMG/thumbnail02.jpg) no-repeat 0px 0px;
}
.ibm-home-page #ibm-leadspace-head .ibm-lead-thumb-3 {
background: url(/teamP/cooperation/images/portal/WIT_IMG/thumbnail03.jpg) no-repeat 0px 0px;
}
.ibm-home-page #ibm-leadspace-head .ibm-lead-thumb-4 {
background: url(/teamP/cooperation/images/portal/WIT_IMG/thumbnail04.jpg) no-repeat 0px 0px;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a.ibm-active .ibm-pagination-overlay {
top: -110px;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay {
display: none;
background: url(/teamP/cooperation/i/v17/lead/lead_pagination_overlay.png) no-repeat 0 0;
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/teamP/cooperation/i/v17/lead/lead_pagination_overlay.png');
cursor: pointer;
position: absolute;
text-align: left;
width: 328px;
height: 113px;
top: -115px;
left: -245px;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-1, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-2, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-3, .ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a .ibm-pagination-overlay span.ibm-lead-thumb-4 {
border: 1px solid #FFFFFF;
display: block;
float: left;
height: 60px;
margin: 18px 10px 5px 20px;
width: 60px;
}
.ibm-home-page #ibm-leadspace-head .ibm-ribbon-nav a {
box-shadow: 0 1px 6px rgba(0, 0, 0, .70);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
border: 3px solid rgba(255, 255, 255, .6);
border: 3px solid #EEE\9;
display: inline-block;
font-size: 0px;
height: 30px;
margin: 3px 5px;
outline: 0 none;
padding: 0;
position: relative;
text-decoration: none;
width: 45px;
z-index: 899;
cursor: pointer;
overflow: visible;
text-indent: 0px;
}


/* 여기까지 섹션 */

