@CHARSET "UTF-8";

/* 여기부터 헤더 */
* {
	font-family: '맑은 고딕'; 
}
html, body, header, section, article, footer, div, p, span, a, ul, li,  h1, h2, h3, h4, h5, h6 { 
	margin: 0px; 
	padding: 0px; 
//	vertical-align: baseline;
	font-family: '맑은 고딕'; 
//	font-size: 11px;
}
/* body { background:  url(../i/v17/t/logo8.png) no-repeat 50% 200px;background-size: 20%;} */
ul { list-style: none; }
a { cursor: auto; }
.ibm-access {
position: absolute;
left: -3000px;
width: 500px;
}

#ibm-masthead {
	width: 100%;
	min-width: 980px;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 900;
	border-top: 1px solid #666;
	border-bottom: 2px solid rgba(255,255,255,.8);
}
#ibm-mast-options {
	//background: #131623;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131623', endColorstr='#1A1C27');
	background: -webkit-linear-gradient(top, #131623, #1A1C27);
	background: -moz-linear-gradient(top, #131623, #1A1C27);
	background: -o-linear-gradient(top, #131623, #1A1C27);
	background: -ms-linear-gradient(top, #131623, #1A1C27);
	background: linear-gradient(top, #131623, #1A1C27);
	height: 1%;
	float: left;
	width: 100%;
	color: #A1A2A7;
	font-size: 11px;
}
#ibm-mast-options:hover { 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#131623', endColorstr='#1A1C27');
	background:-webkit-linear-gradient(top, #131623, #1A1C27);
	background:-moz-linear-gradient(top, #131623, #1A1C27);
	background:-o-linear-gradient(top, #131623, #1A1C27);
	background:-ms-linear-gradient(top, #131623, #1A1C27);
	background:linear-gradient(top, #131623, #1A1C27);
	color:#D0D0D3;
}

#ibm-mast-options ul {
	background-color: #131623;
	float: right;
	margin-right: 5%;
	border-left: 1px solid #2b2d39;
	border-right: 1px solid #02050E;
}
#ibm-mast-options li {
	border-left: 1px solid #02050E;
	border-right: 1px solid #2b2d39;
	float: left;
	padding: 4px 20px;
	height: 13px;
}
#ibm-mast-options li:hover { color:#FFF; }
#ibm-mast-options li#ibm-geo { padding: 4px 0; }
#ibm-mast-options li#ibm-geo a {
	background: url("/teamP/cooperation/i/v17/icons/country-icons-sprite.png") no-repeat scroll 10px 0 transparent;
	padding: 3px 20px 3px 40px;
	/* background: none; */
}
#ibm-mast-options li#ibm-sso a { color: #929395; }
#ibm-mast-options li#ibm-sso span span { color: #666; }
#ibm-mast-options p { display: inline; }
#ibm-mast-options a {
	color: #A1A2A7;
	padding: 3px 2px;
	text-decoration: none;
	font-weight: normal;
}

#ibm-mast-options:hover a { color:#D0D0D3 }
#ibm-mast-options:hover li#ibm-geo a { color:#D0D0D3;background-position:10px -20px }
#ibm-mast-options li#ibm-geo:hover a, #ibm-mast-options li#ibm-geo a:focus { 
background-position:10px -40px;
color:#FFF 
}
#ibm-mast-options:hover li#ibm-sso a { color:#A1A2A7 }
#ibm-mast-options li#ibm-sso:hover a { color:#BABBBD }


#ibm-universal-nav {
width: 100%;
float: left;
background: #000;
overflow: hidden;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595C64', endColorstr='#1B1B1C');
background: -webkit-linear-gradient(top, #595C64, #1B1B1C);
background: -moz-linear-gradient(top, #595C64, #1B1B1C);
background: -o-linear-gradient(top, #595C64, #1B1B1C);
background: -ms-linear-gradient(top, #595C64, #1B1B1C);
background: linear-gradient(top, #595C64, #1B1B1C);
height: 50px;
border-top: 1px solid #999;
border-bottom: 1px solid #666;
}

#ibm-universal-nav #ibm-unav-links, #ibm-universal-nav #ibm-menu-links {
	margin: 0px 20px;
	float: left;
}
#ibm-universal-nav #ibm-menu-links {
	margin-left: 130px;
	_margin-left: 75px;
}
#ibm-universal-nav #ibm-unav-links li, #ibm-universal-nav #ibm-menu-links li {
	float: left;
}
#ibm-universal-nav li#ibm-home {
display: block;
overflow: hidden;
height: 50px;
position: absolute;
width: 100px;
}
#ibm-universal-nav li#ibm-home.ibm-sm-logo a {
_background: url(/teamP/cooperation/i/v17/t/ibm-logo.png) no-repeat scroll 0 -100px;
background: url(/teamP/cooperation/i/v17/t/logo8.png) no-repeat scroll 0 -100px;
background-size: 70%;
background-position: 15% 0%;
background-size: 60% 50%;
height: 30px;
}
#ibm-universal-nav li#ibm-home a {
_display: block;
background: url(/teamP/cooperation/i/v17/t/logo8.png) 0 0 no-repeat;
background-size: 70%;
background-position: 15% 10%;
background-size: 80% 50%;
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/teamP/cooperation/i/v17/t/ibm-logo.png');
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/teamP/cooperation/i/v17/t/logo8.png');
_cursor: pointer;
width: 100px;
float: left;
height: 50px;
text-indent: -999em;
_padding: 0px;
}

/* #ibm-universal-nav li#ibm-home a {
background: url(../i/v17/t/ibm-logo-anim-sprite.png) no-repeat 0 0;
_background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='i/v17/t/ibm-logo-anim-sprite.png');
} */
/* #ibm-universal-nav #ibm-home a {
//	opacity: 1; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 10;
} */
#ibm-universal-nav li a {
color: #CCC;
_display: block;
text-decoration: none;
_letter-spacing: 1px;
text-shadow: 0px -1px 0 #000;
padding: 17px 12px;
font-weight: 300;
font-size: 16px;
line-height: 16px;
float: left;
height: 1%;
}
#ibm-universal-nav #ibm-menu-links li a:hover, #ibm-universal-nav #ibm-menu-links li a:FOCUS {
background:-webkit-linear-gradient(top, #696c72, #333334);
background:-moz-linear-gradient(top, #696c72, #333334);
background:-o-linear-gradient(top, #696c72, #333334);
background:-ms-linear-gradient(top, #696c72, #333334);
background:linear-gradient(top, #696c72, #333334);
background:none transparent no-scroll repeat;
text-shadow:0px 0 3px #FFF;
color:#FFF
}
.nav-active {
background:-webkit-linear-gradient(top, #696c72, #333334);
background:-moz-linear-gradient(top, #696c72, #333334);
background:-o-linear-gradient(top, #696c72, #333334);
background:-ms-linear-gradient(top, #696c72, #333334);
background:linear-gradient(top, #696c72, #333334);
background:none transparent no-scroll repeat;
text-shadow:0px 0 3px #FFF;
color:#FFF
}
#ibm-universal-nav #ibm-menu-links li a:active {
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B1B1C', endColorstr='#595C64');
background:-webkit-linear-gradient(top, #1B1B1C, #595C64);
background:-moz-linear-gradient(top, #1B1B1C, #595C64);
background:-o-linear-gradient(top, #1B1B1C, #595C64);
background:-ms-linear-gradient(top, #1B1B1C, #595C64);
background:linear-gradient(top, #1B1B1C, #595C64);
text-shadow:0 0 3px #FFF;
color:#FFF
}

#ibm-search-module {
float: right;
margin-left: -100%;
_position: absolute;
_right: 0;
}
#ibm-search-form {
_float: right;
height: 26px;
margin: 13px 40px -36px 1px;
display: inline-block;
border: 0px solid transparent;
_float: none;
_position: absolute;
_right: 0;
}
.ibm-access {
font-style: italic;
color: #EEEEEE;
}
#ibm-search-form input#q {
_font-family: Arial, Helvetica;
-webkit-border-radius: 13px;
-moz-border-radius: 13px;
border-radius: 13px;
-moz-box-shadow: 0 1px 0 #555;
-webkit-box-shadow: 0 1px 0 #555;
box-shadow: 0px 1px 0 #555;
border: 1px solid #000;
padding: 3px 30px 2px 10px;
background: #0E0E0E;
background: -moz-linear-gradient(top, rgba(14,14,14,1) 0, rgba(50,50,50,1) 24px, rgba(225,225,225,1) 100px, rgba(238,238,238,1) 124px) no-repeat left top transparent;
background: -webkit-linear-gradient(top, rgba(14,14,14,1) 0,rgba(50,50,50,1) 24px,rgba(225,225,225,1) 100px,rgba(238,238,238,1) 124px) repeat left top transparent;
background: -o-linear-gradient(top, rgba(14,14,14,1) 0,rgba(50,50,50,1) 24px,rgba(225,225,225,1) 100px,rgba(238,238,238,1) 124px) no-repeat left top transparent;
background: -ms-linear-gradient(top, rgba(14,14,14,1) 0,rgba(50,50,50,1) 24px,rgba(225,225,225,1) 100px,rgba(238,238,238,1) 124px) no-repeat left top transparent;
background: linear-gradient(to bottom, rgba(14,14,14,1) 0,rgba(50,50,50,1) 24px,rgba(225,225,225,1) 100px,rgba(238,238,238,1) 124px) no-repeat left top transparent;
background-size: 222px 124px;
_float: left;
color: #888;
width: 180px;
height: 17px;
font-style: italic;
-webkit-transition: background .2s linear;
-o-transition: background .2s linear;
-moz-transition: background .2s linear;
transition: background .2s linear;
margin-top: -10px;
}
#ibm-search-form:hover input#q,#ibm-search-form:focus input#q,#ibm-search-form input#q.ibm-active,#ibm-search-form input#q:focus {
color:#CCC;
background:#EEEEEE;
background-size:222px 124px;
background-position:left bottom;
color:#000;
text-shadow:0 1px 0 #ffffff
}
#ibm-search-form:hover #ibm-search, #ibm-search-form #q:focus ~ #ibm-search { background-position:0px -114px }
/* #ibm-scoped-search { 
position:absolute;
z-index:8;
padding:5px 0;
background:#D8D8D8;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63686E', endColorstr='#1B2125');
background:-webkit-gradient(linear, left top, left bottom, from(#63686E), to(#1B2125));
background:-moz-linear-gradient(top, #63686E, #1B2125);
background:linear-gradient(#63686E,#1B2125);
border:5px solid #FFF;
-moz-box-shadow:0 1px 5px rgba(0,0,0,.4);
-webkit-box-shadow:0 1px 5px rgba(0,0,0,.4);
box-shadow:0 1px 5px rgba(0,0,0,.4);
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-top:24px;
width:215px
} */

#ibm-search.ibm-btn-search {
box-shadow: none;
min-width: 0;
padding: 0;
filter: none;
}

#ibm-search {
font-size: 0;
background: url(/teamP/cooperation/i/v17/icons/search.png) 0 3px no-repeat;
_background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/teamP/cooperation/i/v17/icons/search.png', sizingMethod='crop');
width: 24px;
height: 33px;
margin-left: -40px;
_position: relative;
_float: left;
color: transparent;
border: 0px none;
text-align: right;
text-indent: -999em;
cursor: pointer;
//border: 1px solid red;
}

#ibm-common-menu {
width: 100%;
background-color: #ddd;
background: -webkit-linear-gradient(#dddddd, #f1f1f1);
background: -moz-linear-gradient(#dddddd, #f1f1f1);
background: -o-linear-gradient(#dddddd, #f1f1f1);
background: -ms-linear-gradient(#dddddd, #f1f1f1);
background: linear-gradient(#dddddd, #f1f1f1);
_background: none;
filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#d1d1d1',EndColorStr='#f1f1f1');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(StartColorStr='#d1d1d1',EndColorStr='#f1f1f1')";
border-bottom: 2px solid #fff;
_height: 160px;
display: none;
box-shadow: 0px -9px 7px -9px #bbb inset;
font-size: 12px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs {
box-shadow: 0 1px 7px #c5c5c5;
}
#ibm-masthead .ibm-menu-subtabs {
background-color: #ccc;
background: -webkit-linear-gradient(#ccc, #EAEAEA);
background: -moz-linear-gradient(#ccc, #EAEAEA);
background: -o-linear-gradient(#ccc, #EAEAEA);
background: -ms-linear-gradient(#ccc, #EAEAEA);
background: linear-gradient(#ccc, #EAEAEA);
filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#CCCCCC',EndColorStr='#EAEAEA');
border-bottom: 1px solid #bbb;
height: 39px;
}
#ibm-masthead .ibm-menu-subtabs ul {
width: 940px;
margin: 0 auto;
padding: 14px 10px 0;
margin-bottom: -1px;
_float: left;
}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li {
margin: 0 20px 0 0;
background-image: none;
float: left;
padding: 0 10px 11px 10px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li a {
text-shadow: 0 1px 0 #fff;
font-size: 12px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li.ibm-active a {
font-weight: bold;
color: #222;
}
#ibm-masthead #ibm-common-menu .ibm-menu-subtabs ul li.ibm-active {
background: url(/teamP/cooperation/i/v17/buttons/mm-submenu-notch.gif) center 21px no-repeat transparent;
}

#ibm-common-menu li:hover,#ibm-common-menu li.ibm-active { 
background-position:-2px -98px 
}
#ibm-common-menu li:active { opacity:.6 }
#ibm-common-menu a { 
color:#555;
text-decoration:none 
}
#ibm-common-menu a:focus,#ibm-common-menu a:hover { 
text-decoration:underline;
color:#222 
}

#ibm-common-menu li {
background: url(/teamP/cooperation/i/v17/bullets-alt.gif) -2px 2px no-repeat transparent;
padding-left: 10px;
margin-top: 10px;
}
#ibm-common-menu li:hover, #ibm-common-menu li.ibm-active {
background-position: -2px -98px;
}


#ibm-masthead .ibm-ribbon-pane {
width: 980px;
//height: 240px;
}
.ibm-ribbon-pane {
position: relative;
overflow: hidden;
_width: 940px;
margin: 0 auto;
clear: both;
//border: 1px solid red;
}
.ibm-ribbon-section {
position: absolute;
width: 20000em;
margin: 0px -10px;
}
#ibm-masthead .ibm-ribbon-pane .ibm-columns {
padding-top: 0;
_padding-top: 10px;
clear: none;
float: left;
}
#ibm-masthead .ibm-columns, #ibm-footer-module .ibm-columns {
width: 960px;
padding: 0px 10px;
margin: 0px auto;
_clear: both;
}
#ibm-masthead #ibm-common-menu .ibm-col-5-4.ibm-menu-dynamic {
width: 758px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-dynamic {
padding-right: 0;
}
#ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-4-1 {
width: 172px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-dynamic .ibm-col-4-1.ibm-col-last {
width: 162px;
}
.ibm-columns .ibm-col-1-1, .ibm-columns .ibm-col-2-1, .ibm-columns .ibm-col-4-1, .ibm-columns .ibm-col-4-2, .ibm-columns .ibm-col-4-3, .ibm-columns .ibm-col-5-1, .ibm-columns .ibm-col-5-2, .ibm-columns .ibm-col-5-3, .ibm-columns .ibm-col-5-4, .ibm-columns .ibm-col-6-1, .ibm-columns .ibm-col-6-2, .ibm-columns .ibm-col-6-3, .ibm-columns .ibm-col-6-4, .ibm-columns .ibm-col-6-5, .dijitDialogPaneContent .ibm-common-overlay .ibm-columns [class*="ibm-col-"] {
float: left;
padding: 0px 10px;
min-height: 1px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-static, #ibm-masthead #ibm-common-menu .ibm-menu-dynamic {
padding-top: 20px;
}
#ibm-masthead #ibm-common-menu .ibm-menu-static {
border-left: 1px solid #C8C8C8;
box-shadow: 1px 0 0 rgba(255,255,255,.5) inset;
width: 170px;
height: 282px;
padding-left: 20px;
padding-right: 0;
}
#ibm-common-menu h3 {
color: #333;
text-shadow: 0 1px 0 #fff;
width: 140px;
padding-left: 0;
font-weight: bold;
}
#ibm-common-menu h3 a {
color: #333;
text-shadow: 0 1px 0 #fff;
text-decoration: none;
}

#ibm-common-menu ul {
list-style: none;
padding: 0 0 18px 0;
}

#ibm-masthead .ibm-mm-close {
height: 25px;
width: 940px;
overflow: hidden;
z-index: 9;
position: relative;
margin: -25px auto 0;
cursor: pointer;
}
#ibm-masthead .ibm-mm-close span {
position: absolute;
display: block;
height: 25px;
width: 940px;
background: url(/teamP/cooperation/i/v17/buttons/mm-sprite-alt.gif) 0 2px no-repeat transparent;
_background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/teamP/cooperation/i/v17/buttons/mm-sprite.png');
text-align: center;
text-indent: -9999em;
}
#ibm-masthead .ibm-mm-close span:hover { background-position:0px -23px }
#ibm-masthead .ibm-mm-close span:active, #ibm-masthead .ibm-mm-close span:focus { background-position:0px -49px }
/* 여기까지 헤더 */
