body {font:12px/17px 맑은 고딕, Arial, Helvetica, sans-serif; color:#333; background:#ccc; padding:40px 20px 20px 20px;}

#footer {font-size:11px;}
div.niceFormContainer {position:relative; width:700px; margin:0 auto;}
div.niceFormContainer div#imgprevw {border: solid 1px #bfbf30;
position:absolute; width:100px; height:100px; top:120px; right:188px;}

div.niceFormContainer fieldset {background:#f2f2e6; padding:10px; border:1px solid #fff; border-color:#fff #666661 #666661 #fff; margin-bottom:36px; width:600px;}
div.niceFormContainer fieldset.action {background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px;}
div.niceFormContainer legend {background:#bfbf30; color:#fff; font:17px/21px 맑은 고딕, Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:-26px 0 0 -11px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;}
div.niceFormContainer dl {clear:both;}
div.niceFormContainer dt {float:left; text-align:right; width:90px; line-height:25px; margin:0 10px 10px 0;}
div.niceFormContainer dd {float:left; width:162px; line-height:25px; margin:0 0 10px 0;}
div.niceFormContainer input, textarea, select {font:12px/12px 맑은 고딕, Arial, Helvetica, sans-serif; padding:0;}
div.niceFormContainer label {font-size:11px; font-weight:bold; color:#666;}
div.niceFormContainer label.opt {font-weight:normal;}

