<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.COM/DTD SQL MAP 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="MybatisSql">
<resultMap class="myBatisTest.MybatisTable" id="mybatistable">
<result property="name" column="name"/>
<result property="age" column="age"/>
</resultMap>
<select id="findMybatis" parameterClass="java.lang.String" resultMap="mybatistable">
select * from mybatistable where name=#value# order by name
</select>
<select id="findMybatisMap" parameterClass="java.util.Map" resultMap="mybatistable">
SELECT * FROM MybatisTable WHERE name=#name# AND age=#age# ORDER BY name
</select>
<select id="findMybatisBean" parameterClass="myBatisTest.MybatisTable" resultMap="mybatistable">
SELECT * FROM MybatisTable WHERE name=#name# AND age=#age# ORDER BY name
</select>
<select id="findMybatisIsNotNull" parameterClass="myBatisTest.MybatisTable" resultMap="mybatistable">
SELECT * FROM MybatisTable
	<dynamic prepend="where">
	<isNotNull prepend="or" property="name">
	NAME = #name#
	</isNotNull>
	<isNotNull prepend="and" property="age">
	age = #age#
	</isNotNull> <!-- int 형은 null이 없으므로 사실상 의미는 없다. 한번 해보는데 의미가 있음 -->
	</dynamic>
</select>
<select id="findMyBatisIsEqual" parameterClass="myBatisTest.MybatisTable" resultMap="mybatistable">
SELECT * FROM MybatisTable
	<dynamic prepend="where">
	<isEqual property="name" compareValue="홍길동">
	age = 31
	</isEqual>
	<isNotEqual property="name" compareValue="홍길동">
	age = 27
	</isNotEqual>
	</dynamic>
</select>
<select id="findMyBatisIsPropertyAvailable" parameterClass="myBatisTest.MybatisTable" resultMap="mybatistable">
SELECT * FROM MyBatisTable
	<dynamic prepend="where">
	<isPropertyAvailable property="job">
	name = '조용근'
	</isPropertyAvailable>
	<isNotPropertyAvailable property="job">
	name = '이행엽'
	</isNotPropertyAvailable>
	</dynamic>
</select>
<select id="findMyBatisDynamicIterator" parameterClass="java.util.List" resultMap="mybatistable">
SELECT * FROM MyBatisTable
	<dynamic prepend="where">
		<iterate open=" name in (" close=")" conjunction=",">
			#value[]#
		</iterate>
	</dynamic>
</select>
<select id="findMyBatisAnyStrings" parameterClass="java.lang.String" resultMap="mybatistable">
SELECT * FROM MyBatisTable $value$
</select>
<insert id="insertSelectKey" parameterClass="myBatisTest.MybatisTable">
	<!-- <selectKey resultClass="int" keyProperty="age">
		SELECT 23 AS age FROM DUAL
	</selectKey> -->
	<selectKey resultClass="java.lang.String" keyProperty="name">
		SELECT '일단은' AS name FROM DUAL
	</selectKey>
INSERT INTO MyBatisTable VALUES (#name#, #age#)
</insert>


<resultMap class="myBatisTest.UserTable" id="usertable">
<result property="mCode" column="mCode"/>
<result property="mName" column="mName"/>
<result property="mJob" column="mJob"/>
</resultMap>
<select id="userDefinedSQL" parameterClass="java.lang.String" resultMap="usertable">
$value$
</select>
</sqlMap>