@CHARSET "UTF-8";

* {
	scrollbar-face-color: #ececec;
	scrollbar-shadow-color: #d8d8d8;
	scrollbar-highlight-color: #d8d8d8;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #8b9ea6;
}
.ep .column {
	width: 350px;
	float: left;
	height: auto !important;
//	height: 369px;
//	padding-bottom: 200px;
}
.ep {
	overflow: hidden;
}
form {
	margin: 0 0 16px;
}
form {
	margin: 0;
}
section {
	margin: 0;
	font-family: '맑은 고딕', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	background-color: #ffffff;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
.ep .portlet {
	margin: 10px 0 10px 10px;
	border: 1px solid #d8d8d8;
	border-top: 1px solid #0979e7;
	border-radius: 0 0 4px 4px;
}
.ep .portlet-content {
	clear: right;
	padding: 0;
	height: 300px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.modal {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 560px;
	margin-left: -280px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999: ;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
}
.hide {
	display: none;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.modal {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -25%;
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
.table {
	width: 100%;
	margin-bottom: 16px;
}
.text-align-r, table.text-align-r td {
	text-align: right !important;
}
.text-align-c, table.text-align-c td {
	text-align: center !important;
}
.table th, .table td {
	padding: 8px;
	line-height: 16px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}
.table th {
	font-weight: bold;
}
.table-condensed th, .table-condensed td {
	padding: 4px 5px;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: #f9f9f9;
}
.table thead th {
	vertical-align: bottom;
}
.table-calendar table thead tr th:first-child {
	border-left: none;
}
.table-calendar table thead th {
	padding: 1px inherit;
	background-color: #f9f9f9;
	text-align: center;
	border-left: 1px solid #ddd;
}
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
	border-top: 0;
}
.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
}
button, input {
	*overflow: visible: ;
	line-height: normal;
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}
label, select, button, input[type='button'], input[type='reset'], input[type='submit'], input[type='radio'], input[type='checkbox'] {
	cursor: pointer;
}
label, input, button, select, textarea {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}
/* input, button, select, textarea {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
} */
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 16px;
	color: #000000;
	text-shadow: 0px 1px 0px #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.modal-header .close {
	margin-top: 2px;
}
.modal-header-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
}
.ep .portlet-header {
	cursor: all-scroll;
	padding: 0 0 0 4px;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	height: 26px;
	line-height: 24px;
	font-weight: normal;
	overflow: hidden;
	background-color: #ececec;
	background-image: -webkit-linear-gradient(top, #fff, #ececec);
	background-image: -moz-linear-gradient(top, #fff, #ececec);
	background-image: linear-gradient(top, #fff, #ececec);
}
a {
	color: #0088cc;
	text-decoration: none;
}
.btn-group {
	position: relative;
	display: inline-block;
	*display: inline: ;
	*zoom: 1: ;
	font-size: 0px;
	vertical-align: middle;
	white-space: nowrap;
	*margin-left: .3em: ;
}
.ep .portlet-setting-btn {
	margin: 0px 3px 0 0;
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.btn {
	display: inline-block;
	*display: inline: ;
	*zoom: 1: ;
	padding: 4px 12px;
	margin-bottom: 0px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e6e6e6: ;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbbbbb;
	*border: 0: ;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em: ;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.05);
}
.btn-mini {
	padding: 0 6px;
	font-size: 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn-small {
	padding: 2px 10px;
	font-size: 10.2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn {
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.dropdown-toggle {
	*margin-bottom: -3px: ;
}
.btn-mini {
	font-size: 10px;
}
.btn-small {
	font-size: 11px;
}
button.btn, input[type='submit'].btn {
	*padding-top: 3px: ;
	*padding-bottom: 3px: ;
}
:first-child.btn {
	*margin-left: 0: ;
}
.btn-group > .btn {
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/* ul, ol {
	padding: 0;
	margin: 0 0 8px 25px;
} */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px: ;
	*border-bottom-width: 2px: ;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.pull-right {
	float: right;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-mini {
	font-size: 9px;
}
.btn-group > .btn + .btn {
	margin-left: -1px;
}
.btn-group > :last-child.btn, .btn-group > .dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
button.btn-mini.btn, input[type='submit'].btn-mini.btn {
	*padding-top: 1px: ;
	*padding-bottom: 1px: ;
}
.btn-group > .btn-small {
	font-size: 10.2px;
}
button.btn-small.btn, input[type='submit'].btn-small.btn {
	*padding-top: 3px: ;
	*padding-bottom: 3px: ;
}
.btn-group > :first-child.btn {
	margin-left: 0px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pull-right.dropdown-menu {
	right: 0px;
	left: auto;
}
.ep .portlet-setting-btn > .dropdown-menu {
	min-width: 40px;
	margin-top: -5px;
}
/* li {
	line-height: 16px;
} */
.dropdown-menu li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 16px;
	color: #333333;
	white-space: nowrap;
}
.ep .portlet-setting-btn > .dropdown-menu > li > a {
	padding: 3px 10px;
}
[class^='icon-'], [class*=' icon-'] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em: ;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(/teamP/cooperation/_alphaStudy/img/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 1px;
}
.icon-cog {
	background-position: -432px 0;
}
.btn-mini [class^='icon-'], .btn-mini [class*=' icon-'] {
	margin-top: -1px;
}
.caret {
	display: inline-block;
	width: 0px;
	height: 0px;
	vertical-align: top;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}
.btn .caret {
	margin-top: 8px;
	margin-left: 0px;
}
.btn-mini .caret, .btn-small .caret, .btn-large .caret {
	margin-top: 6px;
}
/* input, textarea, .uneditable-input {
	width: 206px;
}
input, textarea, .uneditable-input {
	margin-left: 0px;
} */
.widget-calendar-title {
	padding: 5px;
}
.table-calendar table {
	margin: 0px inherit 0;
	border: 1px solid #ddd;
	border-right: none;
	border-left: none;
	table-layout: fixed;
}
.table-calendar table tbody tr td {
	padding: 2px 3px 3px 0;
	border-left: 1px solid #ddd;
	height: 33px;
	text-align: right;
}
.table-calendar table tbody tr td:first-child {
	border-left: none;
}
.table-calendar table .sunday div:first-child {
	color: #b94a48;
}
.label, .badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 10.15px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
	background-color: #999999;
}
.label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.label-success, .badge-success {
	background-color: #468847;
}
.label-info, .badge-info {
	background-color: #3a87ad;
}
.table-calendar table tbody td div.schedule-day {
	cursor: pointer;
	margin-top: 2px;
	font-weight: normal;
	display: block;
	text-align: center;
	float: right;
	padding: 0 2px 2px;
	margin: 2px 0 0 2px;
}
.icon-white, .nav-pills > .active > a > [class^='icon-'], .nav-pills > .active > a > [class*=' icon-'], .nav-list > .active > a > [class^='icon-'], .nav-list > .active > a > [class*=' icon-'], .navbar-inverse .nav > .active > a > [class^='icon-'], .navbar-inverse .nav > .active > a > [class*=' icon-'], .dropdown-menu > li > a:hover > [class^='icon-'], .dropdown-menu > li > a:hover > [class*=' icon-'], .dropdown-menu > .active > a > [class^='icon-'], .dropdown-menu > .active > a > [class*=' icon-'], .dropdown-submenu:hover > a > [class^='icon-'], .dropdown-submenu:hover > a > [class*=' icon-'] {
	background-image: url(../img/glyphicons-halflings-white.png);
}
.icon-home {
	background-position: 0 -24px;
}
.icon-user {
	background-position: -168px 0;
}
.table-calendar table tbody td div.schedule-day i {
	width: 12px;
	height: 12px;
}
.table-calendar table tbody tr td.today {
	background-color: #D3D8DF;
	box-shadow: inset 0px 0px 7px #aaa;
}
.widget-calendar-title span.date {
	color: #333;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
}
.widget-calendar-title div.btn-group {
	float: right;
}
.icon-circle-arrow-right {
	background-position: -240px -144px;
}
.icon-circle-arrow-left {
	background-position: -264px -144px;
}
.btn-small [class^='icon-'], .btn-small [class*=' icon-'] {
	margin-top: 0px;
}
.week-upgrade {
	padding: 10px;
}
.week-upgrade div.comment {
	color: #999;
}
.upgrade-detail {
	margin-top: 10px;
}
.upgrade-day {
	height: 20px;
	line-height: 20px;
	padding: 5px;
	background: #f1f1f1;
}
.upgrade-content {
	line-height: 20px;
	padding: 5px 10px;
}
strong {
	font-weight: bold;
}
p {
	margin: 0 0 8px;
}
.user-profile table {
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	table-layout: fixed;
}
.user-profile .user-img {
	padding: 0 10px 8px 10px;
	text-align: center;
	vertical-align: top;
}
.user-profile .user-info {
	padding: 0 10px 6px 10px;
	vertical-align: top;
}
.user-profile .user-info div {
	margin-bottom: 7px;
}
.icon-question-sign {
	background-position: -96px -96px;
}
img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.user-profile .user-img img {
	border: 1px solid #ccc;
	width: 95px;
	height: 95px;
	max-width: 95px;
}